<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>TenantServlet</servlet-name>
        <servlet-class>org.wso2.appserver.integration.common.artifact.carboncontext.TenantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OSGiServiceServlet</servlet-name>
        <servlet-class>org.wso2.appserver.integration.common.artifact.carboncontext.OSGiServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TenantServlet</servlet-name>
        <url-pattern>/TenantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OSGiServiceServlet</servlet-name>
        <url-pattern>/OSGiServiceServlet</url-pattern>
    </servlet-mapping>
</web-app>