<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>JAXRSTestWebapp</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>JAXRSClientTestServlet</servlet-name>
        <servlet-class>org.wso2.as.integration.JAXRSClientTestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JAXRSCXFClientTestServlet</servlet-name>
        <servlet-class>org.wso2.as.integration.JAXRSCXFClientTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JAXRSClientTestServlet</servlet-name>
        <url-pattern>/jax-rs/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JAXRSCXFClientTestServlet</servlet-name>
        <url-pattern>/cxf/*</url-pattern>
    </servlet-mapping>
</web-app>