<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APPServer-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="logviewer-tests" parallel="false">
        <!--todo-->
        <packages>
            <package name="org.wso2.appserver.integration.tests.logviewer"></package>
        </packages>
    </test>

    <test name="webapp-tests" preserve-order="true" parallel="false">
        <packages>
            <!--Todo - Need to enabled when JavaEE feature is completed -->
            <!--<package name="org.wso2.appserver.integration.tests.javaee"/>-->
            <package name="org.wso2.appserver.integration.tests.webapp.websocket"/>
            <package name="org.wso2.appserver.integration.tests.webappsampleservice"/>
            <package name="org.wso2.appserver.integration.tests.webapp.classloading"/>
            <package name="org.wso2.appserver.integration.tests.webapp.concurrency"/>
            <package name="org.wso2.appserver.integration.tests.webapp.faultywebapp"/>
            <package name="org.wso2.appserver.integration.tests.webapp.mgt"/>
            <package name="org.wso2.appserver.integration.tests.webapp.spring"/>
            <package name="org.wso2.appserver.integration.tests.webapp.virtualhost"/>
        </packages>
    </test>

    <test name="carbon-app-tests" preserve-order="true" parallel="false">
        <classes>
            <!--Todo-->
            <class name="org.wso2.appserver.integration.tests.carbonappservice.WSAS1798CAppWarUndeployTest"/>
        </classes>
    </test>

    <test name="services-tests" preserve-order="true" parallel="false">
        <packages>
            <!--Todo-->
            <package name="org.wso2.appserver.integration.tests.jaxrssampleservice"/>
            <package name="org.wso2.appserver.integration.tests.jndi"/>
        </packages>
    </test>

    <test name="ciphertool-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.ciphertool"/>
        </packages>
    </test>

    <test name="jaggery-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.jaggery"/>
        </packages>
        <classes>
            <!-- Todo - enable WSStubHostObjectTestCase once WSAS-1708 fixed-->
        </classes>
    </test>

    <!-- FIXME: WSAS-1982 - Intergration Test Failure in CleanRegistryCommandTestCase -->
    <!--<test name="carbontool-tests" preserve-order="true" parallel="false">-->
        <!--<packages>-->
            <!--<package name="org.wso2.appserver.integration.tests.carbontools"/>-->
        <!--</packages>-->
    <!--</test>-->

    <test name="spi-fly-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.spi.fly"/>
        </packages>
    </test>

    <!-- Commented since ModuleAdminService are removed from AS -->
    <!--<test name="module-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.deployedmoduleservice"/>
        </packages>
    </test>-->

    <!-- Commented since serviceMgt AdminServices are removed from AS -->
    <!--  <test name="sample-service-tests" preserve-order="true" parallel="false">
          <packages>
              <package name="org.wso2.appserver.integration.tests.sampleservices.*"/>
          </packages>
      </test>
      <test name="rest-tests" preserve-order="true" parallel="false">
          <packages>
              <package name="org.wso2.appserver.integration.tests.rest.test.poxsecurity"/>
          </packages>
      </test>-->

    <!-- Due to ServiceAdminService is removed
    <test name="wsdl2java-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.wsdl2java"/>
        </packages>
    </test>
    <test name="carbon-app-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.appserver.integration.tests.carbonappservice.CarbonAppTestCase"/>
        </classes>
    </test>
    -->

    <!-- Commented since serviceMgt AdminServices are removed from AS
    <test name="services-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.springservice"/>
            <package name="org.wso2.appserver.integration.tests.jarservice"/>
            <package name="org.wso2.appserver.integration.tests.aarservice"/>
            <package name="org.wso2.appserver.integration.tests.commodityquoteservice"/>
            <package name="org.wso2.appserver.integration.tests.helloworldsampleservice"/>
            <package name="org.wso2.appserver.integration.tests.jsonservice"/>
            <package name="org.wso2.appserver.integration.tests.mtomservice"/>
            <package name="org.wso2.appserver.integration.tests.qualityofservice"/>
            <package name="org.wso2.appserver.integration.tests.security"/>
        </packages>
    </test> -->

</suite>
