<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APPServer-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="javaee-tests" preserve-order="true" parallel="false">
        <packages>
            <!--<package name="org.wso2.appserver.integration.tests.javaee.cdi.*"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.javaee.jpa.*"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.javaee.jsf.*"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.javaee.jta.*"/>-->
        </packages>
        <classes>
            <class name="org.wso2.appserver.integration.tests.javaee.jpa.JpaJaxWsTestCase"/></classes>
    </test>

</suite>
