<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APPServer-Ldap-User-Store-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="ReadWrite-Ldap-Test" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.readwriteldap.*"/>
        </packages>
    </test>
    <test name="ReadOnly-Ldap-Test" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.readonlyldap.*"/>
        </packages>
    </test>

</suite>
