/* ---------------- template styles ------------------------- */

table#main-table td#header {
	background-image: url( ../images/app-server-header-region-bg.gif);
}

table#main-table td#menu-panel {
	border-right: solid 1px #6F97CD;
	background-image: url(../images/app-server-menu-panel-bg.gif);
	background-position: right top;
	background-repeat: repeat-y;
}
	

/* ---------------- header styles ------------------ */
div#header-div {
    background-image: url( ../images/app-server-header-bg.gif);
}

div#header-div div.left-logo {
	background-image: url( ../images/app-server-header-logo.gif );
	margin-left: 69px;
	margin-top: 36px;
	width: 200px;
}

div#header-div div.right-logo {
	/*background-image: url( ../images/wsas-mgt-logo.gif);*/
	color: #0067B1;
} 

div#header-div div.header-links {
	margin-top:0px;
}
div#header-div div.header-links div.right-links {
	margin-right: 0px;
	height: 35px;
	padding-top: 0px;
}
div#header-div div.header-links div.right-links ul {
	background-image:url("../images/app-server-header-links-bg.gif");
	background-position:left top;
	background-repeat:repeat-x;
	padding-left: 25px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 7px;
}

/* ------------- menu styles ---------------------- */
div#menu {
}

div#menu ul.main {
}

div#menu ul.main li {
}

div#menu ul.main li.normal {
}

div#menu ul.main li a.menu-home {
	color: #0067B1;
    background-image: none;
    height: 30px;
    line-height: 30px;
}

div#menu ul.main li a.menu-home:hover {
	color: #f47b20;
	background-image: none;
	background-color: #ffffff;
}

div#menu ul.main li.menu-header {
	background-image: url(../images/app-server-menu-header.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
	height: 32px;
	line-height: 32px;
}

div#menu ul.main li.menu-header img {
	margin-right:-14px;
	margin-top:7px;
}
div#menu ul.main li a.menu-default {
}

div#menu ul.main li a.menu-default:hover {
	background-color: #ffffff;
	border-bottom: solid 1px #B9C9E7;
	border-top: solid 1px #B9C9E7;
	color: #00447C;
}

div#menu ul.sub {
} 
div#menu ul.main li.menu-disabled-link {
	background-color: #E9EDF7;
}

/* -------------- child no-01 styles -------------- */

div#menu ul.sub li.normal {

}

div#menu ul.sub li a.menu-default {
} 

/* ----------- child no-01 (disabled) styles ------------------- */
	
div#menu ul.sub li a.menu-disabled-link {
	}
	
	div#menu ul.sub li a.menu-disabled-link:hover {
	} 

/* -------------- child no-02 styles -------------- */

div#menu ul.sub li.normal ul.sub li a.menu-default {

}

/* -------------- child no-03 styles -------------- */

div#menu ul.sub li.normal ul.sub li.normal ul.sub li a.menu-default {
}

/* ------------- footer styles -------------------- */

div#footer-div div.footer-content div.poweredby {
	background-image: url( ../images/axis2-powered.gif);
}

/* ---- login styles ----- */


/* --------------- table styles -------------------- */

.tableOddRow{background-color: white;}
.tableEvenRow{background-color: #eeeffb;}

.button:hover{
	/*background-image:url(../images/wsas-button-bg-hover.gif);
	border:solid 1px #9D9FA1;*/
}

/* -------------- work area ---------------------- */

table#main-table td#middle-content {
	background-color:#ffffff;
}
div#middle {
	background-color:#ffffff;
}
div#middle h2 {
	margin-top:5px;
}
div#middle div#workArea {
	background-color:#ffffff;
	padding:10px;
}
div#workArea table.styledLeft thead th {
	background-image:url("../images/app-server-table-header.gif");
	border-bottom:1px solid #A7A9AC;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-top:1px solid #cccccc;
	height:27px;
	line-height:25px;
}
div#workArea table.styledLeft tbody tr td.middle-header {
	background-image:url("../images/app-server-table-header.gif");
	border-bottom:1px solid #A7A9AC;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-top:1px solid #cccccc;
	height:22px;
	line-height:22px;
}
div#workArea table.styledLeft tbody tr td.buttonRow {
	background-image:url("../images/app-server-buttonRow-bg.gif");
	background-color: #F5F5F6;
	padding-bottom:5px;
	padding-top:5px;
}
.button {
	background-image:url("../images/app-server-button-bg.gif");
	background-position:left bottom;
	border:1px solid #666666;
	padding:2px 5px;
}
#menu-table{
	margin-right:2px;
	}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */




